body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin-left: 3%;
    margin-right: 3%;
    margin-top: 1.5%; */
    background-color: #eaf2f8;
    text-align: center;
}

/*


responsive tables using li:
}
*/

.countryApp {
    padding: 40px;
    text-align: center;
    background: #32b7c9;
    color: white;
    font-size: 3vw;
    max-width: 100%;
    border-radius: 5px;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    margin-bottom: 10px;
}

.container2 {
    flex-wrap: wrap;
}

.countryItemDiv {
    padding: 10px;
    margin: 0.5rem;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.7);

    text-align: center;

    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
}

.countryItemTable {
    padding: 10px;
    margin: 0.5rem;
    border-radius: 5px;
    background: hsla(0, 0%, 100%, 0.7);
    text-align: center;

    text-align: center;
    flex-wrap: wrap;

    font-size: 1vw;
    font-size: 16px;
    /*not responsive yet */
}

.containerHeader {

    
    grid-area: header;
    background-color: rgba(94, 39, 223, 0.2);


    border-radius: 5px;
    border: 1px solid #bbb;



}

.container {
    /*31.3.Tahan jait */
    /* display: inline-flex; */
    display: grid;
    grid-template-rows: auto;
    
    grid-gap: 0.2px;
    /* grid-template-columns: repeat(auto-fill); */
    grid-auto-rows: min-content;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 5px blueviolet;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1vw;

    /* */
    float:left;
    grid-template-areas: 
    "header header header header header header header header"
    "main main main main main main main main "
    "footer footer footer footer footer footer footer footer";
}


/* .aaa{width: 100%}

.bbbb{float:left; width: 80%}

.cccc{float:right;} */


.zone {
    /* cursor: pointer; */
    /*display:inline-block;*/
    text-align: center;
    border-radius: 5px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
    margin-left: auto;
    margin-right: auto;

    grid-area: main;
}


.weatherFilterh4 {
    font-size: 1vw;
}

@media only screen and (max-device-width: 420px) {
    .countryItemTable {
        padding: 10px;
        margin: 0.5rem;
        border-radius: 5px;
        background: hsla(0, 0%, 100%, 0.7);
        text-align: center;

        flex-wrap: wrap;

        grid-gap: 1px;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;

        font-size: 12px;
    }
}
@media only screen and (max-device-width: 300px) {
    .countryItemTable {
        padding: 10px;
        margin: 0.5rem;
        border-radius: 5px;
        background: hsla(0, 0%, 100%, 0.7);
        text-align: center;

        flex-wrap: wrap;

        grid-gap: 1px;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;

        font-size: 8px;
    }
    .container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        border-radius: 0.5rem;
        border: 5px blueviolet;
        padding: 1rem;
        flex-wrap: wrap;
    }
}

.countryItemTable,
.countryThead {
    /* text-align: center; */
    border: 1px solid black;
}

/* .findCountries {
    text-align: center;
    display: grid;
} */

/* .countryTr{
text-align: center;
}

.countryTd{
text-align: center;
} */
/*


*/

/* countries */
.CountryItemHeader {
    text-align: center;
    font-weight: 700;

    color: #1c4e66;
    font-size: 2vw;
}



/* .flagPicture {
  width: 60%;
    max-width: 50px;
    height: 70px;
    margin: 10px;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.countryItemDiv > img {
    max-width: 10%;
    height: 70%;

    max-height: 100px;
  

    border: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*fixaa: */
.weatherItemPic > img {
    max-width: 50px;
}
/* */
.button {
    cursor: pointer;
}

.purple {
    background: rgba(168, 139, 235, 0.2); /* Old browsers */

    background: radial-gradient(
        top,
        #a88beb 0%,
        #f1a7f1 44%,
        #f8ceec 100%
    ); /* W3C */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* The original table:




.container2{
display: flex;
flex-wrap: wrap;


}

.countryTable {
font-family: arial, sans-serif;
font-size: 1em;
border-collapse: collapse;
width: 100%;
border: 1px;
}

.countryTr > th {


padding: 2px;
}

.countryTr > th > p {
font-weight: normal;
}
.countryTr > th > li {
font-weight: normal;
}

*/

/* .countryTable > tr:nth-child(even) {
background-color: #dddddd;



}  */
